# Byte-compiled / cache files
*.py[cod]
__pycache__/
*.so

# Virtual environment
.myvirtualenv4django/

# Django stuff:
*.log
db.sqlite3
/staticfiles/
/media/

# Secrets
.env

# VSCode
.vscode/

# macOS
.DS_Store
# Python
__pycache__/
*.py[cod]
*.log

# Django
*.sqlite3
*.env

# Virtualenv
env/
venv/
myvirtualenv4django/

# VS Code
.vscode/

# macOS
.DS_Store
